@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(0,0,0);
  background-color: #99FFE6;
}

.container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  margin: 0;
}

.banner-content {
  text-align: center;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

.img-square {
  border-radius: 15px;
  box-shadow: 2px 4px 4px rgb(0 0 0 / 50%);
  height: 144px;
  width: 144px;
  object-fit: cover;
  object-position: 50% 40%;
}

.btn-paper {
  background-color: #252324;
  color: #d5d5d5;
  transition: background-color 0.5s ease;
  margin: 16px;
  padding: 16px 24px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
}

.btn-paper:hover {
  background-color: #d5d5d5;
  color: #252324;
}

.cards {
  margin: 16px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (max-width: 960px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 720px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 540px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: white;
  box-shadow: 0 0 24px rgb(0 0 0 / 25%);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.content {
  margin: 16px;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.card-content {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 0 24px rgb(0 0 0 / 25%);
  border-radius: 8px;
}

.card-content i {
  font-size: 32px;
  color: black;
  opacity: .5;
  transition: opacity .3s ease;
}

.card-content i:hover {
  opacity: 1;
}

.footer {
  width: 100%;
  color: white;
  flex-grow: 1;
  background-color: black;
  opacity: 0.8;
  box-shadow: 0 0 24px rgb(0 0 0 / 25%);
  padding: 10px;
  text-align: center;
}

.footer h2 {
  color: white;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
}

.list-inline a {
  font-size: 48px;
  color: #9099A2;
  margin: 4px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}