@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Roboto&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(0,0,0);
  background-color: #95F9E3;
}

.container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  margin: 0;
}

.banner-content {
  text-align: center;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

.img-square {
  border-radius: 15px;
  box-shadow: 2px 4px 4px rgb(0 0 0 / 50%);
  height: 140px;
  width: 120px;
  object-fit: cover;
  object-position: 50% 40%;
}

.btn-paper {
  background-color: #252324;
  color: #d5d5d5;
  transition: background-color 0.25s ease;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.btn-paper:hover {
  background-color: #d5d5d5;
  color: #252324;
}

.card-container {
  display: flex;
  justify-content: space-around;
}

.card-lavendar {
  flex-grow: 1;
  background-color: #6d7993;
  box-shadow: 0 0 24px rgb(0 0 0 / 25%);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.card-dusty {
  flex-grow: 1;
  background-color: #96858f;
  box-shadow: 0 0 24px rgb(0 0 0 / 25%);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.footer {
  color: white;
  flex-grow: 1;
  background-color: black;
  opacity: 0.8;
  box-shadow: 0 0 24px rgb(0 0 0 / 25%);
  padding: 10px;
  text-align: center;
}

.footer h2 {
  color: white;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline;
}

.list-inline a {
  font-size: 48px;
  color: #9099A2;
  margin: 4px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}